/*@import "libs/normalize";*/

body {
  font-family: Arial, sans-serif;
}

button {
  background-color: #0068FF;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

button:hover, button:active {
  color: #FAF000;
}

button:active {
  font-size: 11px;
}
.label {
  color: #0D2A4D;
  position: absolute;
  margin-left: 10px;
  top: 35px;
}

body{
  margin:0px;
}
#test{
  background: black;
}
#ad{
   display: block;
   border: rgb(145,153,153) 1px solid;
   overflow:hidden;
   width: 298px;
   height: 248px;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#banner{
  position:absolute;
  display: block;
  width: 298px;
  height: 248px;
  background-color: #FFF;
  background-image:url(../images/logo.png);
  background-position: 10px 10px;
  background-repeat:no-repeat;
  overflow: hidden;
}
.buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.button {
  height: 26px;
  width: 108px;
}
.label {
  font-size: 14px;
  top: 65px;
}

.collapsed .buttons {
  bottom: 30px;
  left: 10px;
}